<section class="chrysler">
  <div class="card border-primary mb-3 mb-md-0">
    <div class="card-header border-primary bg-transparent text-center">
      Fiat Chrysler Automobiles(FCA)
    </div>
    <img src="../../../assets/images/FCA.jpeg" class="card-img-top img-fluid rounded" alt="">
    <div class="card-body bg-transparent">
      <h5 class="card-title mb-3 text-center">Angular UI Developer</h5>
      <p class="card-text text-justify text-truncate">
        MVP Incentive System helps dealers to maintain their sales and track
        their incentives based on the sales. It also tracks their personal loan
        details and shows them up top 10 and bottom 10 performances of dealers
        for that quarter on their dashboard.
        We built an admin system to set up configurations on incentives
        percentages and criterias for dealers to meet in order to avail incentives
        for their sales. System also helps to download reports for various aspects
        in order to see their performances.

        We have migrated MVP Incentive System which was running on legacy
        platform with mainframes technology to Angular framework version 8 with
        Java as back end technology.
      </p>
    </div>
    <div class="card-footer bg-transparent border-primary text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#chrysler">View
        more</button>
      <!-- Modal -->
      <div class="modal fade" id="chrysler" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="chryslerLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title w-100" id="chryslerLabel">MVP Incentive System,Fiat Chrysler Automobiles(FCA)</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row row-cols-md-2 row-cols-1">
                <div class="col" style="padding: 0px;">
                  <img src="../../../assets/images/FCA.jpeg" width="100%" alt="">
                  <div class="row row-cols-md-2 mt-3 row-cols-2">
                    <div class="col">
                      <p class="fw-bold">Position:</p>
                    </div>
                    <div>
                      <p class="text-start">Angular UI Developer</p>
                    </div>
                  </div>
                  <div class="row row-cols-md-2 mt-3 row-cols-2">
                    <div class="col">
                      <p class="fw-bold">Skills Used:</p>
                    </div>
                    <div>
                      <p class="text-start">HTML, CSS, Angular Material, Material Flexbox, Javascript, Angular-8, Java
                        as back end.</p>
                    </div>
                  </div>
                </div>
                <div class="col" style="padding: 0px;">
                  <div class="d-flex flex-column">
                    <h5 class="display-7 text-dark mb-4 text-center chrysler__project-header">Project Overview</h5>
                    <div class="container">
                      <div class="row">
                        <p class="text-justify text-start">
                          MVP Incentive System helps dealers to maintain their sales and track
                          their incentives based on the sales. It also tracks their personal loan
                          details and shows them up top 10 and bottom 10 performances of dealers
                          for that quarter on their dashboard.<br><br>
                          We built an admin system to set up configurations on incentives
                          percentages and criterias for dealers to meet in order to avail incentives
                          for their sales. System also helps to download reports for various aspects
                          in order to see their performances.<br><br>
                          We have migrated MVP Incentive System which was running on legacy
                          platform with mainframes technology to Angular framework version 8 with
                          Java as back end technology.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary text-white" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
