<div class="header bg-primary mb-0 text-white">
  <nav class="navbar navbar-expand-sm">
    <!-- header items left side  -->
    <div class="container-fluid">
      <h3 class="display-6">Port<span class="text-secondary">f</span>olio</h3>
      <div>
        <button type="button" class="navbar-toggler btn btn-primary" data-bs-toggle="collapse"
          data-bs-target="#navItems" aria-controls="navItems" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list" style="font-size: 2rem;color: white;"></i>
        </button>
      </div>
    </div>
    <!-- header items right side -->
    <div class="collapse navbar-collapse" id="navItems">
      <ul class="navbar-nav navbar-nav-scroll nav-pills">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary btn-sm">
            <a class="nav-link text-white" href="#home">
              <i class="bi bi-house" style="font-size: 1rem;"></i>&nbsp;Home
            </a>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary btn-sm">
            <a class="nav-link text-white" href="#about">
              <i class="bi bi-person" style="font-size: 1rem;"></i>&nbsp;About
            </a>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary btn-sm">
            <a class="nav-link text-white" href="#projects">
              <i class="bi bi-file-code" style="font-size: 1rem;"></i>&nbsp;Projects
            </a>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary btn-sm">
            <a class="nav-link text-white" href="#contact">
              <i class="bi bi-envelope" style="font-size: 1rem;"></i>&nbsp;Contact
            </a>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary btn-sm">
            <a class="nav-link text-white" href="assets/files/Kireeti_Pala-CV.pdf" download="Kireeti_Pala-CV.pdf">
              <i class="bi bi-cloud-arrow-down" style="font-size: 1rem;"></i>&nbsp;CV
            </a>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
