.header {
  min-height: 67px;
  @media (min-width: 768px) {
    ul > li {
      margin-right: 0.3rem;
    }
    padding: 0px 10px;
  }
  @media (max-width: 576px) {
    ul > li {
      margin-bottom: 0.5rem;
    }
  }
}
.nav-item > button {
  width: 7rem;
  height: 3rem;
}
