<footer class="footer text-white bg-custom-blue">
  <div class="d-flex flex-column justify-content-center align-items-center content">
    <div class="p-3">
      Follow me @
    </div>
    <div class="d-flex justify-content-around social-links text-center w-100">
      <a href="https://twitter.com/Kireeti9" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://www.facebook.com/kireeti.pala.31/" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/kireeti2328/" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/kireeti-pala-9a9558167/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</footer>
