<section class="dbs">
  <div class="card border-primary mb-3 mb-md-0">
    <div class="card-header border-primary text-center bg-transparent ">
      The Development Bank of Singapore Limited(DBS)
    </div>
    <img src="../../../assets/images/DBS.jpeg" class="card-img-top img-fluid" alt="">
    <div class="card-body bg-transparent">
      <h5 class="card-title mb-3 text-center">Angular UI Developer</h5>
      <p class="card-text text-justify text-truncate">
        IBG(Institutional Banking Group) I.Serve is the application which works
        for corporate banking. This application is used by customer service
        operations teams who directly are in contact with corporate customers for
        their queries resolving.
        I.Serve is a one-stop solution to have enhanced SR Dashboard and
        search functions, and to have customer profile in a single screen, and to
        have manual authentication with smart answers and easy navigation to
        products and transaction details.
        It helps the CSO team to answer customer's queries very fast. It saves a
        lot of time by not toggling many systems to gather customer information.
        This application is for Service Requests Management.
      </p>
    </div>
    <div class="card-footer border-primary bg-transparent text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#dbs">View
        more</button>
      <!-- Modal -->
      <div class="modal fade" id="dbs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="dbsLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title w-100" id="dbsLabel">IBG I.Serve,The Development Bank of Singapore Limited(DBS)
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row row-cols-md-2 row-cols-1">
                <div class="col" style="padding: 0px;">
                  <img src="../../../assets/images/DBS.jpeg" width="100%" alt="">
                  <div class="row row-cols-md-2 mt-3 row-cols-2">
                    <div class="col">
                      <p class="fw-bold">Position:</p>
                    </div>
                    <div>
                      <p class="text-start">Angular UI Developer</p>
                    </div>
                  </div>
                  <div class="row row-cols-md-2 mt-3 row-cols-2">
                    <div class="col">
                      <p class="fw-bold">Skills Used:</p>
                    </div>
                    <div>
                      <p class="text-start">HTML, SCSS, Javascript, Angular-8, Java as back end.</p>
                    </div>
                  </div>
                </div>
                <div class="col" style="padding: 0px;">
                  <div class="d-flex flex-column">
                    <h5 class="display-7 text-dark mb-4 text-center dbs__project-header">Project Overview</h5>
                    <div class="container">
                      <div class="row">
                        <p class="text-justify text-start">
                          IBG(Institutional Banking Group) I.Serve is the application which works
                          for corporate banking. This application is used by customer service
                          operations teams who directly are in contact with corporate customers for
                          their queries resolving.<br><br>
                          I.Serve is a one-stop solution to have enhanced SR Dashboard and
                          search functions, and to have customer profile in a single screen, and to
                          have manual authentication with smart answers and easy navigation to
                          products and transaction details.<br><br>
                          It helps the CSO team to answer customer's queries very fast. It saves a
                          lot of time by not toggling many systems to gather customer information.
                          This application is for Service Requests Management.
                        </p>
                        <div>
                          <h6 style="width: fit-content;"
                            class="display-10 float-start text-dark  mb-2 dbs__project-header">
                            Features of
                            the application
                          </h6>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <div class="d-flex text-justify text-start">
                            <i class="bi bi-chevron-right text-primary"></i>
                            <p>
                              CSO team can create new SR as
                              draft with user query and
                              assign
                              the SR to themself or their colleagues.
                            </p>
                          </div>
                          <div class="d-flex text-justify text-start">
                            <i class="bi bi-chevron-right text-primary"></i>
                            <p>
                              This application helps the CSO team to collect customer
                              information at once in order to raise SR easily.
                            </p>
                          </div>
                          <div class="d-flex text-justify text-start">
                            <i class="bi bi-chevron-right text-primary"></i>
                            <p>
                              It has enhanced SR Dashboard and Search function which helps
                              the CSO team to see an overview of individual and team SR
                              Dashboard. It also helps to search customer information by their
                              account number which provides a customer profile in a single
                              screen.
                            </p>
                          </div>
                          <div class="d-flex text-justify text-start">
                            <i class="bi bi-chevron-right text-primary"></i>
                            <p>
                              Easy access to SR Inbox for SR with Open or Draft Status. And
                              detailed view of Open and Draft SR upon click of SR.
                            </p>
                          </div>
                          <div class="d-flex text-justify text-start">
                            <i class="bi bi-chevron-right text-primary"></i>
                            <p>
                              It allows the creation of SR, Modify SR, Update SR, and Clone
                              SR.
                            </p>
                          </div>
                          <div class="d-flex text-justify text-start">
                            <i class="bi bi-chevron-right text-primary"></i>
                            <p>
                              It allows you to send SMS and search about SR and error
                              payments.
                            </p>
                          </div>
                          <div class="d-flex text-justify text-start">
                            <i class="bi bi-chevron-right text-primary"></i>
                            <p>
                              It provides an overview of transaction details at any point of time.and Fixed Deposit,
                              Loans Details, Debit and Credit cards
                              Informations, and key customer contacts detail.
                            </p>
                          </div>
                          <div class="d-flex text-justify text-start">
                            <i class="bi bi-chevron-right text-primary"></i>
                            <p>
                              It allows managers to download reports of SR List and various
                              other reports.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary text-white" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
