.projects {
  &__header-name {
    width: fit-content;
    padding-bottom: 3px;
    border-bottom: 3px solid #3a9edd;
  }
  &__margin-top-desktop {
    @media (min-width: 576px) {
      margin-top: 4rem;
    }
  }
}
