<section id="projects" class="projects">
  <!-- header name  -->
  <div data-aos="fade-up" data-aos-duration="1000" class="py-4 projects__margin-top-desktop">
    <h3 class="display-7 text-dark projects__header-name">Projects</h3>
  </div>
  <!-- projects content  -->
  <div class="row row-cols-md-3 row-cols-1">
    <div class="col">
      <app-dbs></app-dbs>
    </div>
    <div class="col">
      <app-chrysler></app-chrysler>
    </div>
    <div class="col">
      <app-piquant-restro></app-piquant-restro>
    </div>
  </div>
</section>
