<div class="row row-cols-md-2 row-cols-1 personal-info">
  <div class="col" style="padding: 0px;">
    <div data-aos="flip-right" id="profile-pic"></div>
  </div>
  <div class="col" style="padding: 0px;">
    <div class="d-flex flex-column">
      <h5 data-aos="fade-up" data-aos-duration="1000"
        class="display-7 text-dark mb-4 text-center personal-info__personal-header">Personal Information</h5>
      <div data-aos="fade-up" data-aos-duration="1000" class="container personal-info__icons">
        <div class="row">
          <div class="col-5 d-flex personal-info__personal-icons">
            <i class="bi bi-chevron-right text-primary"></i>
            <span><i class="bi bi-person"></i></span>
            <p class="fw-bold">Name:</p>
          </div>
          <div class="col-7">
            <p class="text-capitalize">Kireeti Pala.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 d-flex personal-info__personal-icons">
            <i class="bi bi-chevron-right text-primary"></i>
            <span><i class="bi bi-pen"></i></span>
            <p class="fw-bold">Degree:</p>
          </div>
          <div class="col-7">
            <p class="text-capitalize">Master of Computer Application(MCA).</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 d-flex personal-info__personal-icons">
            <i class="bi bi-chevron-right text-primary"></i>
            <span><i class="bi bi-phone"></i></span>
            <p class="fw-bold">Phone:</p>
          </div>
          <div class="col-7">
            <p class="text-capitalize">+91 7032820228.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 d-flex personal-info__personal-icons">
            <i class="bi bi-chevron-right text-primary"></i>
            <span><i class="bi bi-envelope"></i></span>
            <p class="fw-bold">Email:</p>
          </div>
          <div class="col-7">
            <p class="text-justify">Kireeti.WebDeveloper@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-5 d-flex personal-info__personal-icons">
            <i class="bi bi-chevron-right text-primary"></i>
            <span><i class="bi bi-pin-map"></i></span>
            <p class="fw-bold">City:</p>
          </div>
          <div class="col-7">
            <p class="text-capitalize">Vijayawada, Andhra Pradesh(state).</p>
          </div>
        </div>
        <div class="row">
          <div
            class="col-6 col-md-5 d-flex justify-content-between justify-content-md-start personal-info__personal-icons">
            <i class="bi bi-chevron-right text-primary"></i>
            <span><i class="bi bi-file-code-fill"></i></span>
            <div class="fw-bold">Freelance:</div>
          </div>
          <div class="col-6 col-md-7 text-start">
            <p class="text-capitalize">Available.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
